.Card{
      flex:1;
      margin: 20px;
      border:3px solid #c2cd;
      border-radius: 10px;
      overflow: hidden;
      background-color:#272424;
      
      display:flex;
      flex-direction:column;
      min-width: 300px;

}

.Card .Content{
  flex:1;
  padding:15px 0;
  background-color:#0e0d0d;
  
  
  color: rgb(29, 108, 212);
}

.Card .Footer{
  
  background-color:rgb(173, 168, 168);
  color:white;
  
  padding: 5px 0px;
}